
<section class="introduction">
  <h1>Sistema de Biblioteca</h1>
  <p>Trabalho Academico, uma SPA (Single Page Application) que está disposto em coluna</p>
  <p>Desenvolvido por : 
    Kaíke Falcão,
    Henrique Bisneto,
    Jõao Vitor,
    Vitor Gabriel.
  </p>
</section>

<div class="container">
    <div class="table-container">
      <h2>Usuários</h2>
      <app-usuarios></app-usuarios>
    </div>
    <div class="table-container">
      <h2>Livros</h2>
      <app-livros></app-livros>
    </div>
    <div class="table-container">
      <h2>Empréstimos</h2>
      <app-emprestimos></app-emprestimos>
    </div>
  </div>

  
 